include _layouts/_header



.container.appArea(ng-controller='todocontrol')

    .header.clearfix
        h1.text-muted.col-md-8 TodoAngular
    
        .searchArea.col-md-4
            .input-group.col-md-11
                span.input-group-addon Ara
                input(type="text", class="form-control", ng-model='searchInput')

    .listArea
        ul.list-group
            li.list-group-item(ng-repeat="value in data | filter:searchInput | limitTo:-10 | orderBy:'-id' ", ng-model="value.status")
                input(type="checkbox", ng-model="selected")
                span {{value.id}} - {{value.title}} 

        .addTodo 
            form
                .col-md-10
                    input.form-control(type="text", ng-model='text')
                .col-md-2.bttnArea
                    button.btn.btn-info(ng-click='addNewTodo(text)')
                        span.glyphicon.glyphicon-plus
                        span  EKLE



include _layouts/_footer