include _layouts/_header



.container.appArea(ng-controller='todocontrol')

    .header.clearfix
        h1.text-muted.col-md-7 TodoAngular
    
        .searchArea.col-md-5
            span Ara:
            input(type='text', ng-model='searchInput')

    .listArea
        ul.list-group
            li.list-group-item(ng-repeat="value in data | filter:searchInput")
                input(type="checkbox", ng-model="selected")
                span {{value.body}}

        .addTodo 
            input(type='text', ng-model='text')
            button.btn.btn-info(ng-click='addNewTodo(text)') Ekle

include _layouts/_footer